@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  //TYPE ================================
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  --sans-serif: "Epilogue", sans-serif;

  //COLORS ================================
  --situai-dark-purple: #08030D;
  --situai-opacity-purple: #140820;
  --situai-main-purple: #AF64FF;
  --situai-white: #FFF;
  --situai-red: #FF0000;
}