@use "../global";
@use "../abstracts" as *;
// @use "../partials/header";
// @use "../partials/footer";

.main {
  padding: to-rem(32) 0;

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: to-rem(44);

    .box-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: to-rem(16);
      width: 100%;

      &__titulo {
        font-size: to-rem(18);
        color: var(--situai-main-purple);
      }

      &__container {
        display: flex;
        flex-direction: column;
        row-gap: to-rem(20);
        padding: to-rem(40) to-rem(32);
        border-radius: to-rem(16);
        width: 100%;

        .item-resultado {
          h3 {
            font-size: to-rem(14);
            font-weight: var(--bold);
            line-height: 1;
            margin-bottom: to-rem(12);
          }

          p {
            font-size: to-rem(12);
            line-height: 1;

            &.diferente {
              color: var(--situai-red);
            }
          }
        }
      }
    }
  }
}

.outra-consulta {
  margin-top: to-rem(44);
  padding-bottom: to-rem(32);

  .container-interno {
    width: 100%;
    padding: to-rem(24) to-rem(16);
    border-radius: to-rem(16);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    row-gap: to-rem(32);

    button {
      width: 100%;
    }

    img {
      max-height: to-rem(32);
      width: auto;
    }
  }
}